<div class="table-container">
    <div class="table-operations">
        <button nz-button (click)="add()">
            Add
        </button>
    </div>

    <nz-table #basicTable [nzData]="booksList" [nzPageSize]="8">
        <thead>
            <tr>
                <th nzLeft>Title</th>
                <th>Year</th>
                <th>Author</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td nzLeft>{{ data.title}}</td>
                <td>{{ data.year }}</td>
                <td>{{ data.author }}</td>
                <td>{{ data.genre | uppercase}}</td>
                <td>
                    <span class="delete-button" nz-icon nzType="delete" nzTheme="outline" (click)="delete(data)" title="Delete book"></span>
                    <span class="edit-button" nz-icon nzType="edit" nzTheme="outline" (click)="edit(data)" title="Edit book"></span>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Add new book" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="bookForm">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please add the title!">
                        <input type="text" nz-input formControlName="title" id="title" placeholder="Title">
                        <div class="red-text" *ngIf="title?.errors?.['required']">
                            Title is required.
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <input type="number" nz-input formControlName="year" id="year" placeholder="Year">
                        <div class="red-text" *ngIf="year?.errors?.['required']">
                            Year is required.
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <input type="text" nz-input formControlName="author" id="author" placeholder="Author">
                        <div class="red-text" *ngIf="author?.errors?.['required']">
                            Author is required.
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <input type="text" nz-input formControlName="genre" id="genre" placeholder="Genre">
                        <div class="red-text" *ngIf="genre?.errors?.['required']">
                            Genre is required.
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>